body {
  background-image: url(/img/fondo.jpeg);
  width: 100%;
  height: 100%;
  background-size: cover;
  font-family: 'roboto' !important; 
}

.kar {
  background-color: rgba(0, 0, 0, 0.2);
}

.fondo_login{

  height: 750px;
  background-repeat: no-repeat;
  background: url(/img/Portada-Tino\ \(2\).jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.transparencia{
  background-color: rgba(168, 57, 57, 0.226);
}

.color_navbar{
  background-color: rgba(74, 74, 230);
}

.boton_navbar{
  background-color: rgb(1, 83, 56);
}

.transparencia2{
  background-color: rgba(78, 78, 74, 0.849);
}

.na :hover{
  background-color: blue;
}

.fondo_error{
  background-image: url(/img/seccion.jpg)  ;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center;
}

.botonsito {
  position: fixed;
  top: 60%;
  left: 50%;
  border:  black solid 2px;
  border-radius: 10px;
  transform: translate(-50% -50%);
}

ul {
  list-style-type: none  ;
}

li a {
text-decoration: none;
}

.letras{
  width: 100%;
  height: ;
}
